extends layout

block splash
  img.splash-image(src='img/sc_tall.png')
  .splash
    h1.splash-head
      | About Me
    p.splash-subhead
      | Passionate about developing, collaborating,
      br
      |           and 
      b making things happen

block mid-content
  h2#content.content-head.is-center(onLoad='location.href="#content"') 
    i.fa.fa-angle-double-down.fa-lg
    |       Favored Technologies      
    i.fa.fa-angle-double-down.fa-lg
  .pure-g
    .l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
      h3.content-subhead
        i.fa.fa-rocket
        |               Javascript
      p
        | This is where it's at.  Javascript makes the web go around; I love learning new javascript tools.
        | Node.js, Backbone.js, Angular.js, Express, JQuery, and everything in between.
    //-.l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
      h3.content-subhead
        i.fa.fa-mobile
        |               Jade
      p
        | Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
    .l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
      h3.content-subhead
        i.fa.fa-github
        |               Github
      p
        | Version control! This is such an important part of collaboration, and collaborating is my favorite.
        | Github provides a powerful version control system with invaluable assets.
    .l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
      h3.content-subhead
        i.fa.fa-android
        |               Android
      p
        | Putting all the power in the world in the palm of your hands.  Android application development
        | is fascinating to me.  Write an awesome app, and put it in your pocket.
